<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改用户</title>
    <link type="text/css" rel="stylesheet" href="layui/css/layui.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="layui/layui.js"></script>
</head>
<body>
<form id="updatefrommanager" class="layui-form" action="">
    <div class="layui-form-item" style="display: none">
        <div class="layui-form-label" style="font-size:17px;width: 100px;display: none">ID</div>
        <label>
            <input id="id" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px;display: none" placeholder="请输入工号">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">工号</div>
        <label>
            <input id="anumber" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入工号">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">姓名</div>
        <label>
            <input id="bname" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入姓名">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">部门号</div>
        <label>
            <input id="cpart" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入部门号">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">性别</div>
        <label>
            <input id="dsex" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入性别">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">省份</div>
        <label>
            <input id="eprovince" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入省份">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">城市</div>
        <label>
            <input id="fcity" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入城市">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">联系方式</div>
        <label>
            <input id="gtelephone" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入联系方式">
        </label>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-label" style="font-size:17px;width: 100px">身份证号</div>
        <label>
            <input id="hpersonnumber" type="text" class="layui-input" autocomplete="off" style="width: 200px;height: 35px;margin-top: 4px" placeholder="请输入身份证号">
        </label>
    </div>
</form>
<button id="baocun" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save" style="width: 300px;height: 35px;margin-left: 40px;margin-top: -13px;" onclick="baocun()">保存</button>
<script>
    $(function () {
        var item = sessionStorage.getItem("id");
        $.ajax({
            type: 'post',
            url: '/querymanager?id='+item,
            success:function (data) {
                console.log(data);
                $('#id').val(data[0]['id']);
                $('#anumber').val(data[0]['anumber']);
                $('#bname').val(data[0]['bname']);
                $('#cpart').val(data[0]['cpart']);
                $('#dsex').val(data[0]['dsex']);
                $('#eprovince').val(data[0]['eprovince']);
                $('#fcity').val(data[0]['fcity']);
                $('#gtelephone').val(data[0]['gtelephone']);
                $('#hpersonnumber').val(data[0]['hpersonnumber']);
            }
        });
    });

    function baocun() {
        var id = $("#id").val();
        var anumber = $("#anumber").val();
        var bname = $("#bname").val();
        var cpart = $("#cpart").val();
        var dsex = $("#dsex").val();
        var eprovince = $("#eprovince").val();
        var fcity = $("#fcity").val();
        var gtelephone = $("#gtelephone").val();
        var hpersonnumber = $("#hpersonnumber").val();
        $.ajax({
            type: 'post',
            url: '/updatemanager?id='+id+"&anumber="+anumber+"&bname="+bname+"&cpart="+cpart+"&dsex="+dsex+"&eprovince="+eprovince+"&fcity="+fcity+"&gtelephone="+gtelephone+"&hpersonnumber="+hpersonnumber,
            success: function (data) {
                layui.use('layer', function() {
                    var layer = layui.layer;
                    var table = layui.table;
                    layer.open({
                        title: "修改员工",
                        content: data,
                        btn: ['确认'],
                        yes: function (index, layero) {
                            layer.closeAll();
                            window.parent.layer.closeAll();//关闭父级弹出层
                        },
                    });
                });
            }
        });

    }
</script>
</body>
</html>