<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志管理</title>
    <link type="text/css" rel="stylesheet" href="layui/css/layui.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="layui/layui.js"></script>
</head>
<style>
    .layui-table, .layui-table-view {
        margin: 1px 0;
    }
    .layui-table-cell .layui-form-checkbox[lay-skin=primary] {
        top: 6px;
        padding: 0px;
    }
</style>
<body>
<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'post',
            url: 'queryworktext',
            success: function (data) {
                console.log(data);
                var temp = {
                    "code":data['code'],
                    "msg":"",
                    "count":data['count'],
                    "data":data['data']
                };
                var res = [];
                res.push(temp);
                console.log(res);
                layui.use('table', function(){
                    var table = layui.table;
                    table.render({
                        elem: '#worktext',
                        height: 550,
                        url: 'queryworktext',
                        page: true,
                        parseData: function (temp){
                            console.log(temp);
                            return{
                                "code": temp['code'],
                                "msg": temp['msg'],
                                "count":temp['count'],
                                "data":temp['data']
                            }
                        },
                        data: temp,
                        cols: [
                            [
                            {type: 'checkbox'},
                            {field: 'id', title: 'ID', width:100,hide:true},
                            {field: 'anumber', title: '工号', width:100}
                            ,{field: 'bname', title: '姓名', width:100}
                            ,{field: 'cwancheng', title: '已完成工作', width:250}
                            ,{field: 'dxietiao', title: '需协调工作', width:250}
                            ,{field: 'estate', title: '状态', width:100}
                            ,{field: 'ftime', title: '创建时间', width: 200}
                            ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
                            ]
                        ]
                    });
                });
            }
        });
        layui.use(['layer','table'],function () {
            var layer = layui.layer;
            var table = layui.table;
            table.on('tool(test)', function(obj){
                var checkStatus = table.checkStatus('worktext');
                sessionStorage.setItem("sid", checkStatus['data'][0]['id']);
                layer.open({
                    type: 2,
                    title: '日志详情',
                    content: 'worktextinfo',
                    area: ['600px', '300px']
                });
            });
        });
    });
    function shanchu() {
        layui.use('layer', function() {
            var table = layui.table;
            var checkStatus = table.checkStatus('worktext');//获取数据表格当前行数据
            console.log(checkStatus);
            $.ajax({
                type: 'post',
                url: 'deleteworktext?id='+checkStatus['data'][0]['id'],
                success: function (data) {
                    layui.use('layer', function() {
                        var layer = layui.layer;
                        layer.open({
                            title: '删除员工',
                            content: data,
                            btn:['确认'],
                            yes: function(){
                                layer.closeAll();
                            },
                            end: function () {
                                table.reload('worktext', {
                                    url: 'queryworktext',
                                });
                            }
                        });
                    });
                }
            });
        });
    }
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="select">查看</a>
</script>
<span style="font-size: 20px;font-style: normal;color: black;margin-left: 5px;margin-top: 5px">日志管理</span>
<hr align=center width=100% color=black size="1" style="height: 3px;color: black">
<button class="layui-btn layui-btn-normal" style="width: 70px;height: 35px;margin-left: 20px" onclick="shanchu()">删除</button>
<hr align=center width=100% color=black size="1" style="height: 3px;color: black">
<table id="worktext" lay-filter="test"></table>
</body>
</html>